{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="row-text">Symbol</th>
				<th class="row-text">Name</th>
				<th>Shares</th>
				<th>Market price</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for summary in summaries %}
				<tr>
					<th class="row-text">{{ summary.symbol }}</th>
					<td class="row-text">{{ summary.name }}</td>
					<td>{{ summary.shares }}</td>
					<td>{{ summary.price }}</td>
					<td>{{ summary.total }}</td>
				</tr>
			{% endfor %}
			<tr>
				<th class="row-text" colspan="4">CASH</th>
				<td>{{ cash }}</td>
			</tr>
			<tfoot>
				<th class="row-text" colspan="4"></th>
				<td>{{ balance }}</td>
			</tfoot>
		</tbody>
	</table>
{% endblock %}
